<!-- navigation start -->
<nav class="SideNav" style="max-width: 360px">
  <a class="SideNav-item" {#if !path.equals("home")} href="/p/home" hx-get="/p/content/home" hx-target="#content" hx-indicator="#content-load-indicator"{#else} aria-current="true" {/if} >
    <i class="ti ti-home"></i> Home
  </a>
  <a class="SideNav-item" {#if !path.equals("list")} href="/p/list"  hx-get="/p/content/list" hx-target="#content" hx-indicator="#content-load-indicator"{#else} aria-current="true" {/if}>
    <i class="ti ti-list"></i> List
  </a>
  <a class="SideNav-item" {#if !path.equals("todos")} href="/p/todos" hx-get="/p/content/todos" hx-target="#content" hx-indicator="#content-load-indicator" {#else} aria-current="true" {/if}>
    <i class="ti ti-checklist"></i> Todo's
  </a>
</nav>
<p />
<!-- navigation end -->