<div class="container-xl overflow-auto">
  <div id="list-container" class="Box Box--condensed">
    <div class="Box-header">
      List of elements
    </div>
    {#fragment id=listElements}
    {#for element in elements}
    {#if element_hasNext || nextPage < 0} <div class="Box-row">
      {#else}
      <div class="Box-row" hx-get="/p/content/fragment/list?page={nextPage}" hx-trigger="intersect once"
        hx-swap="afterend" hx-indicator="#content-load-indicator" hx-target="this">
        {/if}
        {element}
      </div>
      {/for}
      {/fragment}
  </div>
</div>